.pokemon-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 150px;
    height: 250px; 
    background-color: #f9f9f9;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none; 
    color: inherit; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box; 
}

.pokemon-card:hover {
    background-color: #ccffcc; 
    transform: scale(1.05); 
}

.pokemon-card__link {
    text-decoration: none; 
    color: inherit; 
    display: flex;
    flex-direction: column;
    height: 100%;
}

.pokemon-card__image {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: 0 auto;
}

.pokemon-card__content {
    padding: 0.5rem;
    text-align: center;
}

.pokemon-card__name {
    margin: 0.5rem 0;
    font-size: 1rem;
}

.pokemon-card__description {
    font-size: 0.9rem;
    color: #666;
    margin: 0;
}