html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('./assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

#root {
    height: 100%;
}